.gallery .heading {
  color: var(--red);
  text-align: center;
}

.gallery .image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 6rem;
}

.gallery .image-container .image {
  position: relative;
}

.gallery .image-container .image::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.gallery .image-container .image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.gallery .image-container .image .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 10;
}
.gallery .image-container .image:hover > .info {
  opacity: 1;
}

.gallery .image-container .image:hover::after {
  display: block;
}

@media (max-width: 655px) {
  .gallery .image-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 3rem;
  }

  .gallery .image-container .image img {
    height: 35rem;
  }
}
